* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    background-size: cover;
    background: url(/img/bg.png) center no-repeat;
    font-family: 'Roboto', sans-serif;
}

.calc {
    width: 1072px;
    height: 650px;
    border: 2px solid #efae02;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.tabs {
    width: 100%;
    padding-top: 26px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
}

.tab-left,
.tab-right {
    width: 200px;
    height: 70px;
    border-radius: 0 15px 0 0;
    background-image: linear-gradient(to top, rgb(0 0 0 / 77%), rgb(0, 0, 0));
    margin-right: 5px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}

.tab-left {}